body {
  background: #dcd7c9 url('/static/img/paper-bg.jpg');
  margin: 0;
  padding: 0;
}

header {
  background: #2a231b;
  height: 125px;

  .navbar-custom {
    background-color: #bab17b;
    height: 51px;
    position: relative;
    top: 75px;

    .navbar-nav {
      > li > a {
        background-color: #bab17b;
        color: #2a231b;

        &:hover,
        &focus {
          background-color: #cfc8a1;
          color: #1d1813;
        }
      }
    }

    .nav .open>a {
      background-color: #cfc8a1;
      >a:hover,
      >a:focus {
        background-color: #cfc8a1;
      }
    }

    .dropdown-menu {
      background-color: #cfc8a1;

      >li{
        >a:hover,
        >a:focus {
          background-color: #bab17b;
        }
      }
    }

    .navbar-toggle {
      color: #cfc8a1;
      background: #2a231b;
      border-color: #cfc8a1;
      margin: 4px 15px;
      padding: 10px 13px;
    }

    @media(max-width: 767px) {
      .navbar-collapse {
        position: relative;
        top: -73px;
      }
    }
  }

  .navbar-img {
    position: relative;
    top: -65px;

    @media(max-width: 767px) {
      width: 176px;
      height: 113px;
    }
  }

  ul .navbar-nav {
    position: relative;
    top: 50px;
  }
}

#prices {
  #price-help,
  #unit-help {
    display: none;
    padding: 2px;
  }

  .price-data {
    padding: 15px 5px;
    border-bottom: 1px dotted #acacac;
  }
}

main {
  margin-top: 50px;
}
