{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-9">
			<h1>Typography (Header 1)</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet sapien volutpat lacus mattis, sit amet venenatis risus tempor. Aliquam erat volutpat. Aenean tincidunt lorem sem, vel euismod massa lacinia ut. Morbi quis nibh felis. Mauris lobortis leo diam, at posuere nisi vehicula id. Aenean mattis tellus at leo convallis, a interdum diam sagittis. In hac habitasse platea dictumst. Morbi porta rutrum congue. Donec nec mattis diam. Praesent ut tristique ipsum. Integer sed est bibendum, pretium justo id, pulvinar est. Aenean purus arcu, pulvinar sed scelerisque vel, bibendum non libero. Pellentesque dignissim nisi vitae tellus ornare porttitor. Praesent imperdiet ligula vel laoreet aliquam. Praesent mollis tincidunt massa.</p>
			<h2>Wells (Header 2)</h2>
			<div class="well">
				<h3>Well (Header 3)</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet sapien volutpat lacus mattis, sit amet venenatis risus tempor. Aliquam erat volutpat. Aenean tincidunt lorem sem, vel euismod massa lacinia ut. Morbi quis nibh felis. Mauris lobortis leo diam, at posuere nisi vehicula id.</p>
			</div>
			<h2>Color Palette</h2>
			<h3>Primary Colors</h3>
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<div class="background-primary-1 color-palette">
						<p class="color-accent-5">
							Primary Color 1
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-primary-2 color-palette">
						<p class="color-accent-5">
							Primary Color 2
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-primary-3 color-palette">
						<p class="color-accent-5">
							Primary Color 3
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-primary-4 color-palette">
						<p class="color-accent-1">
							Primary Color 4
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-primary-5 color-palette">
						<p class="color-accent-1">
							Primary Color 5
						</p>
					</div>
				</div>
			</div>
			<h3>Secondary Colors</h3>
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<div class="background-secondary-1 color-palette">
						<p class="color-accent-1">
							Secondary Color 1
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-secondary-2 color-palette">
						<p class="color-accent-1">
							Secondary Color 2
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-secondary-3 color-palette">
						<p class="color-accent-1">
							Secondary Color 3
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-secondary-4 color-palette">
						<p class="color-accent-1">
							Secondary Color 4
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-secondary-5 color-palette">
						<p class="color-accent-1">
							Secondary Color 5
						</p>
					</div>
				</div>
			</div>
			<h3>Accent Colors</h3>
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<div class="background-accent-1 color-palette">
						<p class="color-accent-5">
							Accent Color 1
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-accent-2 color-palette">
						<p class="color-accent-5">
							Accent Color 2
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-accent-3 color-palette">
						<p class="color-accent-5">
							Accent Color 3
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-accent-4 color-palette">
						<p class="color-accent-1">
							Accent Color 4
						</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="background-accent-5 color-palette">
						<p class="color-accent-1">
							Accent Color 5
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<aside>
				<h2>Sidebar</h2>
				<h3>Unordered Lists</h3>
				<ul>
					<li>List item 1</li>
					<li>List item 2</li>
					<li>List item 3</li>
				</ul>
				<h3>Ordered Lists</h3>
				<ol>
					<li>List item 1</li>
					<li>List item 2</li>
					<li>List item 3</li>
				</ol>
				<h3>Dictionary Lists</h3>
				<dl>
					<dt>Dictionary Term 1</dt>
					<dd>Dictionary Definition 1</dd>
					<dt>Dictionary Term 2</dt>
					<dd>Dictionary Definition 2</dd>
				</dl>
				<h3>Sidebar well</h3>
				<div class="sidebar">
					<h4>Unordered List</h4>
					<ul>
						<li>List item 1</li>
						<li>List item 2</li>
						<li>List item 3</li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
{% endblock %}