.color-palette {
  height: 50px;
  width: 100%;
}

//---------------------
// Header bar
//---------------------
.navbar-default {
  background-color: $primary-color-5;
  border-color: $primary-color-4;
  border-radius: 0;
  color: $accent-color-2;

  .navbar-brand {
    color: #fff;

    a:hover {
      color: $accent-color-4;
    }
  }

  .navbar-nav {
    >.active {
      >a {
        color: $accent-color-5;
        background-color: $primary-color-4;
      }
    }

    >li {
      >a {
        color: #fff; 

        &:hover {
          color: $accent-color-4;
        }
      }
    }
  }

}
