// --------------------
// Colored backgrounds
// --------------------

.background-primary-1 {
  background-color: $primary-color-1;
}

.background-primary-2 {
  background-color: $primary-color-2;
}

.background-primary-3 {
  background-color: $primary-color-3;
}

.background-primary-4 {
  background-color: $primary-color-4;
}

.background-primary-5 {
  background-color: $primary-color-5;
}

.background-secondary-1 {
  background-color: $secondary-color-1;
}

.background-secondary-2 {
  background-color: $secondary-color-2;
}

.background-secondary-3 {
  background-color: $secondary-color-3;
}

.background-secondary-4 {
  background-color: $secondary-color-4;
}

.background-secondary-5 {
  background-color: $secondary-color-5;
}

.background-accent-1 {
  background-color: $accent-color-1;
}

.background-accent-2 {
  background-color: $accent-color-2;
}

.background-accent-3 {
  background-color: $accent-color-3;
}

.background-accent-4 {
  background-color: $accent-color-4;
}

.background-accent-5 {
  background-color: $accent-color-5;
}

//---------------------
// Colored foregrounds
//---------------------

.color-primary-1 {
  color: $primary-color-1;
}

.color-primary-2 {
  color: $primary-color-2;
}

.color-primary-3 {
  color: $primary-color-3;
}

.color-primary-4 {
  color: $primary-color-4;
}

.color-primary-5 {
  color: $primary-color-5;
}

.color-secondary-1 {
  color: $secondary-color-1;
}

.color-secondary-2 {
  color: $secondary-color-2;
}

.color-secondary-3 {
  color: $secondary-color-3;
}

.color-secondary-4 {
  color: $secondary-color-4;
}

.color-secondary-5 {
  color: $secondary-color-5;
}

.color-accent-1 {
  color: $accent-color-1;
}

.color-accent-2 {
  color: $accent-color-2;
}

.color-accent-3 {
  color: $accent-color-3;
}

.color-accent-4 {
  color: $accent-color-4;
}

.color-accent-5 {
  color: $accent-color-5;
}
