// ----------------
// Color Variables
// ----------------

// color markup
$primary-color-1: #b78b42;
$primary-color-2: #ffe1af;
$primary-color-3: #e1b875;
$primary-color-4: #93671f;
$primary-color-5: #664204;

$secondary-color-1: #e1de1a;
$secondary-color-2: #fffd75;
$secondary-color-3: #edeb48;
$secondary-color-4: #b1af0c;
$secondary-color-5: #8a8800;

$accent-color-1: #4c9a37;
$accent-color-2: #a5dc97;
$accent-color-3: #75bd62;
$accent-color-4: #2f7b1a;
$accent-color-5: #155604;

@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);

$cabin-font: 'Cabin Sketch', cursive;
