{% extends 'manager-base.html' %}
{% block title %} - Manager{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-10">
			<h1>Products</h1>
		</div>
		<div class="col-md-2">
			<a href="{% url 'manager-product-create' %}" class="btn btn-lg btn-success">
				<span class="fa fa-plus"></span> New Product
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if object_list.count > 0 %}
				<div class="row">
					<div class="col-md-2">
						<h3>Name</h3>
					</div>
					<div class="col-md-2">
						<h3>Plural Name</h3>
					</div>
					<div class="col-md-3">
						<h3>Description</h3>
					</div>
					<div class="col-md-4">
						<h3>Actions</h3>
					</div>
				</div>
			{% for object in object_list %}
				<div class="row">
					<div class="col-md-2">
						<label class="control-label">{{ object }}</label>
					</div>
					<div class="col-md-2">
						<label class="control-label">{{ object.plural_name }}
					</div>
					<div class="col-md-3">
						<p>{{ object.description }}</p>
					</div>
					<div class="col-md-4">
						<div class="btn-group" role="group">
							<a href="{% url 'manager-product-update' pk=object.pk %}" class="btn btn-warning">
								<span class="fa fa-pencil"></span> Edit
							</a>
							<a href="#" class="btn btn-primary">
								<span class="fa fa-list"></span> Stock
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}