{% extends 'manager-base.html' %}
{% block title %} - Manager{% endblock %}
{% block content %}
	<h1>Create Product</h1>
	{% if errors %}
		<div class="alert alert-warning">
			{{ errors }}
		</div>
	{% endif %}
	<form id="create_product" action="" method="post">
		<div class="row">
			<div class="col-md-6">
				{% csrf_token %}
				{% for field in form %}
					{% include 'form-control-group.html' %}
				{% endfor %}
			</div>
			<div class="col-md-6">
				<div class="row">
				{% for field in price_form %}
					{% if field.name == 'regular_price' %}
						<div class="col-md-4">
							{% include 'form-control-group.html' %}
						</div>
					{% elif field.name == 'unit_designation' %}
						<div class="col-md-6">
						 	{% include 'form-control-group.html' %}
						</div>
					{% else %}
						{% include 'form-control-group.html' %}
					{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<button type="submit" class="btn btn-success btn-lg">Update</button>
			</div>
		</div>
	</form>
{% endblock %}